---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="About">
  <main>
    <div
      class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 text-center"
    >
      <h2 class="mb-5 text-5xl font-lobster text-center">About</h2>
    </div>
  </main>
</Layout>
