---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Emma Haugslien">
  <main>
    <div
      class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
      <div class="relative mb-6 sm:mx-auto md:mb-10 md:max-w-md lg:max-w-lg">
        <div class="flex justify-center items-center">
          <img
            class="object-cover h-52 md:h-58 lg:h-60"
            src="/emsi.png"
            alt=""
          />
        </div>
      </div>
      <div class="mb-16 md:mb-0 md:max-w-xl sm:mx-auto md:text-center">
        <h2 class="mb-5 text-5xl font-lobster text-center">
          hello! i'm emma 👋
        </h2>
        <p class="mb-5 md:text-lg font-roboto text-center">
          welcome to my little piece of internet <br />
          this is my space to share my coding projects as i learn, <br /> as well
          as my interests and latest obsessions! 🤭
        </p>
      </div>
    </div>
  </main>
</Layout>
