---
export interface Props {
	title: string;
	href: string;
	imglink: string;
	imgalt: string;
}

const { href, title, body, imglink, imgalt } = Astro.props;
---

<div class="card w-96 bg-accent shadow-lg m-4 hover:animate-pulse">
	<div class="card-body items-center text-center">
	  <h2 class="card-title text-3xl">{title}</h2>
	</div>
	<figure><img src={imglink} alt={imgalt} /></figure>
</div>